---
import Layout from "../../layouts/Layout.astro";
import { getEntry } from "astro:content";
import { marked } from "marked";

const { slug } = Astro.params;
const post = await getEntry("blog", slug as string);

if (post === undefined) return Astro.redirect("/404");

let htmlContent = "";
if (post) {
  htmlContent = await marked(post.body);
  htmlContent = htmlContent.replace(
    /<a href/g,
    '<a target="_blank" rel="noopener noreferrer" class="text-custom-blue hover:underline" href'
  );
  htmlContent = htmlContent.replace(
    /<iframe/g,
    '<iframe class="w-full min-h-96 rounded-lg" loading="lazy"'
  );
  htmlContent += `
  <style>
    .article > p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .article > img {
      max-width: 100%;
      height: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-radius: 0.5rem;
    }
    .article > h1 {
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }
    .article > h2 {
      font-size: 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }
    .article > h3 {
      font-size: 1.25rem;
      margin-top: 1.25rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }
    .article > h4 {
      font-size: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }
    .article > h5 {
      font-size: 0.875rem;
      margin-top: 0.875rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }
    .article > h6 {
      font-size: 0.75rem;
      margin-top: 0.75rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }
    .article > blockquote {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0.5rem;
      background-color: #f3f4f6;
      border-left: 0.25rem solid #1a202c;
    }
    .article > ul {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .article > ol {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .article > li {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .article > code {
      padding: 0.2rem;
      background-color: #f7fafc;
      border-radius: 0.25rem;
    }
    .article > pre {
      padding: 0.5rem;
      background-color: #f7fafc;
      border-radius: 0.5rem;
    }
    .article ol {
        counter-reset: lista;  /* Inicia el contador */
        list-style-type: none; /* Remueve el estilo por defecto */
    }
    .article li {
        counter-increment: lista; /* Incrementa el contador */
        margin-bottom: 10px; /* Espacio entre elementos */
    }
    .article li:before {
        content: counter(lista) ". "; /* Inserta el número antes del elemento */
        font-weight: bold; /* Fuente en negrita */
    }
    .article ol ol {
        margin-left: 2rem;
        margin-top: 0.5rem;
    }
   </style>
  `;
}

function formatDate(date: Date) {
  return new Intl.DateTimeFormat("es-ES", {
    year: "numeric",
    month: "short",
    day: "numeric",
  }).format(date);
}
---

<Layout
  title={post
    ? post.data.title + " - Porfolio de Adrián Pisabarro"
    : "Post not found"}
>
  <div style="margin-top: 40px;">
    <a
      href="/"
      class="bg-custom-blue-dark hover:bg-custom-blue border text-white ps-3 pe-3 pt-2 pb-2 rounded-full"
      >← Ir atrás</a
    >
  </div>

  {
    post ? (
      <>
      <head>
        <title>{post.data.title}</title>
        <meta property="og:title" content={post.data.title} />
        <meta property="og:description" content={post.data.description || "Lee este artículo interesante."} />
        <meta property="og:url" content={`https://adrianpisabarro.com/blog/${slug}`} />
        <meta property="og:type" content="article" />
        <meta property="og:image" content={`https://adrianpisabarro.com${post.data.image.src}`} />
      </head>
        <article class="prose lg:prose-xl w-100 mt-5 p-5 shadow-2xl shadow-slate-700 rounded-lg">
          <h1 class="mt-2 text-5xl font-bold">{post.data.title}</h1>
          <div class="flex flex-col md:flex-row place-content-between md:items-center">
            <div class="flex items-center mt-3">
              <img
                src="/assets/images/adrian-pisabarro-garcia.webp"
                class="rounded-full w-12 h-12 me-2"
              />
              <div class="flex flex-col">
                <p>{post.data.author}</p>
                <p class="text-gray-500 text-sm">
                  {post.data.duration} read ·
                  {formatDate(new Date(post.data.date))}
                </p>
              </div>
            </div>
            <div class="flex space-x-4 mt-3 md:mt-0">
              <button
                onclick="sharePost('facebook')"
                class="bg-blue-600 text-white p-2 rounded-full hover:scale-110 transition-transform duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"
                >
                  <>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                  </>
                </svg>
              </button>
              <button
                onclick="sharePost('twitter')"
                class="bg-blue-400 text-white p-2 rounded-full hover:scale-110 transition-transform duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"
                >
                  <>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                    <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                  </>
                </svg>
              </button>
              <button
                onclick="sharePost('linkedin')"
                class="bg-blue-700 text-white p-2 rounded-full hover:scale-110 transition-transform duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
                >
                  <>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                    <path d="M8 11l0 5" />
                    <path d="M8 8l0 .01" />
                    <path d="M12 16l0 -5" />
                    <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                  </>
                </svg>
              </button>
            </div>
          </div>
          <script is:inline>
            function sharePost(platform) {
              const url = window.location.href;
              let shareUrl = "";
              if (platform === "facebook") {
                shareUrl = `https://www.facebook.com/sharer/sharer.php?u=${url}`;
              } else if (platform === "twitter") {
                shareUrl = `https://twitter.com/intent/tweet?url=${url}&text=Echa%20un%20vistazo%20al%20artículo!`;
              } else if (platform === "linkedin") {
                shareUrl = `https://www.linkedin.com/shareArticle?mini=true&url=${url}`;
              }
              window.open(shareUrl, "_blank", "width=600,height=400");
            }
          </script>

          <img
            src={post.data.image.src}
            alt={post.data.image.alt}
            class="rounded mt-5 mb-5"
          />
          <div class="article mt-10" set:html={htmlContent} />
        </article>
      </>
    ) : (
      <>
        <div class="flex items-center justify-center pt-24 pb-12">
          <div class="max-w-sm w-full text-center">
            <div class="text-8xl mb-4">⚠️</div>
            <h1 class="text-2xl font-semibold mb-2">Post Not Found</h1>
            <p class="text-gray-600 dark:text-slate-300">
              Lo siento, la publicación que estás buscando no existe.
            </p>
          </div>
        </div>
      </>
    )
  }
</Layout>

