---

import AngularIcon from './icons/angular.astro';
import AstroIcon from './icons/astro.astro';
import GithubIcon from './icons/github.astro';
import TailwindIcon from './icons/tailwind.astro';
import ExternalLinkIcon from './icons/external-link.astro';
import BoxIcon from './icons/box.astro';



const projects = [
  {
    title: "Nazareth's Portfolio",
    image: '/assets/images/uruvielsa.webp',
    description: "Portfolio personal para mostrar diferentes proyectos y trabajos que hace una diseñadora gráfica y animadora 2D/3D.",
    technologies: [
      {
        name: 'Astro',
        url: 'https://astro.build/',
        svg: 'astro'
      },
      {
        name: 'Tailwind CSS',
        url: 'https://tailwindcss.com/',
        svg: 'tailwind'
      }
    ],
    links: [
      {
        name: 'Ver proyecto',
        url: 'https://www.uruvielsa.com/',
        svg: 'external-link'
      },
      {
        name: 'Github',
        url: 'https://github.com/adrianpisabarrogarcia/uruvielsa',
        svg: 'github'
      }
    ]
  },
{
    title: "Laboral Timer",
    image: '/assets/images/laboral-timer.webp',
    description: "Aplicación web para llevar el control de horas trabajadas y generar reportes de las mismas.",
    technologies: [
      {
        name: 'Angular',
        url: 'https://angular.dev/',
        svg: 'angular'
      },
      {
        name: 'Tailwind CSS',
        url: 'https://tailwindcss.com/',
        svg: 'tailwind'
      },
      {
        name: 'PrimeNG',
        url: 'https://primeng.org/',
        svg: 'box'
      }
    ],
    links: [
      {
        name: 'Ver proyecto',
        url: 'https://laboraltimer.adrianpisabarro.com/',
        svg: 'external-link'
      },
      {
        name: 'Github',
        url: 'https://github.com/adrianpisabarrogarcia/laboral-timer',
        svg: 'github'
      }
    ]
  },
];

---

<section class="sm:mt-20 mt-10">
  <h2 class="flex items-center text-3xl font-semibold">
    <!-- Icono y título omitidos para simplificar -->
    Proyectos
  </h2>
  <div>
    {projects.map((project) => (
      <article class="flex flex-col md:flex-row mt-4">
        <div class="w-full shadow-lg dark:shadow-white/30 md:w-1/2 relative overflow-hidden rounded-lg">
          <img
            src={project.image}
            alt={`Proyecto ${project.title}`}
            class="w-full transition duration-700 ease-in-out hover:scale-150"
          />
        </div>
        <div class="w-auto md:w-1/2 m-4">
          <h3 class="text-2xl font-semibold text-custom-blue-dark dark:text-custom-yellow-chrome">
            {project.title}
          </h3>
          <div class="mt-2 flex">
            <!-- Bucle para tecnologías, si cada proyecto podría tener diferentes tecnologías -->
            {project.technologies.map((tech) => (
              <a
                class="bg-custom-blue-dark hover:bg-custom-blue border text-white rounded-full flex pt-1 pb-1 ps-2 pe-2 text-sm items-center justify-center me-2"
                href={tech.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="me-1">
                  {tech.svg === 'astro' && <AstroIcon />}
                  {tech.svg === 'tailwind' && <TailwindIcon />}
                  {tech.svg === 'angular' && <AngularIcon />}
                  {tech.svg === 'box' && <BoxIcon />}
                </span>
                {tech.name}
              </a>
            ))}
          </div>
          <p class="mt-2">
            {project.description}
          </p>
          <div class="mt-2 flex align-middle items-center text-custom-blue-dark dark:text-custom-blue border-t border-custom-blue-dark dark:border-custom-blue-light pt-2 pb-2 pt-3">
            {project.links.map((link) => (
              <a
                class="flex hover:underline me-4"
                href={link.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="me-1">
                  {link.svg === 'external-link' && <ExternalLinkIcon />}
                  {link.svg === 'github' && <GithubIcon />}
                </span>
                {link.name}
              </a>
            ))}
          </div>
        </div>
      </article>
    ))}
  </div>
  <div class="mt-4">
    <a
      href="https://github.com/adrianpisabarrogarcia?tab=repositories"
      class="text-custom-blue-dark dark:text-custom-yellow-chrome hover:underline"
      aria-label="Ver más proyectos"
      rel="noopener noreferrer"
      target="_blank"
    >
      Ver más proyectos
    </a>
</section>
