---
const projects = [
  {
    title: "Nazareth's Portfolio",
    description: "Portfolio personal para mostrar diferentes proyectos y trabajos que hace una diseñadora gráfica y animadora 2D/3D.",
    technologies: ['Astro', 'Tailwind CSS'],
    links: [
      {
        name: 'Ver proyecto',
        url: 'https://www.uruvielsa.com/',
      },
      {
        name: 'Github',
        url: 'https://github.com/adrianpisabarrogarcia/uruvielsa'
      }
    ]
  },
    {
    title: "Nazareth's Portfolio",
    description: "Portfolio personal para mostrar diferentes proyectos y trabajos que hace una diseñadora gráfica y animadora 2D/3D.",
    technologies: ['Astro', 'Tailwind CSS'],
    links: [
      {
        name: 'Ver proyecto',
        url: 'https://www.uruvielsa.com/',
      },
      {
        name: 'Github',
        url: 'https://github.com/adrianpisabarrogarcia/uruvielsa'
      }
    ]
  },
];

---

<section class="sm:mt-20 mt-10">
  <h2 class="flex items-center text-3xl font-semibold">
    <!-- Icono y título omitidos para simplificar -->
    Proyectos
  </h2>
  <div>
    {projects.map((project) => (
      <article class="flex flex-col md:flex-row mt-4">
        <div class="w-full md:w-1/2">
          <img
            src="/assets/images/uruvielsa.webp"
            alt={`Proyecto ${project.title}`}
            class="w-full p-sm rounded-lg shadow-lg dark:shadow-white/30"
          />
        </div>
        <div class="w-full md:w-1/2 ms-4">
          <h3 class="text-2xl font-semibold text-custom-blue-dark dark:text-custom-yellow-chrome">
            {project.title}
          </h3>
          <div class="mt-2 flex">
            <!-- Bucle para tecnologías, si cada proyecto podría tener diferentes tecnologías -->
            {project.technologies.map((tech) => (
              <a
                class="bg-custom-blue-dark hover:bg-custom-blue border text-white rounded-full flex pt-1 pb-1 ps-2 pe-2 text-sm items-center justify-center ms-2"
                href={tech === 'Astro' ? 'https://astro.build/' : 'https://tailwindcss.com/'}
                target="_blank"
                rel="noopener noreferrer"
              >
                {tech}
              </a>
            ))}
          </div>
          <p class="mt-2">
            {project.description}
          </p>
          <div class="mt-2 flex align-middle items-center text-custom-blue-dark dark:text-custom-blue border-t border-custom-blue-dark dark:border-custom-blue-light pt-2 pb-2 pt-3">
            <span class="me-4">Links:</span>
            {project.links.map((link) => (
              <a
                class="flex hover:underline ms-4"
                href={link.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                {link.name}
              </a>
            ))}
          </div>
        </div>
      </article>
    ))}
  </div>
</section>
