---
import AngularIcon from "./icons/angular.astro";
import AstroIcon from "./icons/astro.astro";
import GithubIcon from "./icons/github.astro";
import TailwindIcon from "./icons/tailwind.astro";
import ExternalLinkIcon from "./icons/external-link.astro";
import BoxIcon from "./icons/box.astro";
import PhpIcon from "./icons/php.astro";
import ChartIcon from "./icons/chart.astro";
import MySQLIcon from "./icons/mysql.astro";
import KotlinIcon from "./icons/kotlin.astro";
import FirebaseIcon from "./icons/firebase.astro";
import DocIcon from "./icons/doc.astro";
const projects = [
  {
    title: "Nazareth's Portfolio",
    image: "/assets/images/uruvielsa.webp",
    description:
      "Portfolio personal para mostrar diferentes proyectos y trabajos que hace una diseñadora gráfica y animadora 2D/3D.",
    technologies: [
      {
        name: "Astro",
        url: "https://astro.build/",
        svg: "astro",
      },
      {
        name: "Tailwind CSS",
        url: "https://tailwindcss.com/",
        svg: "tailwind",
      },
    ],
    links: [
      {
        name: "Ver proyecto",
        url: "https://www.uruvielsa.com/",
        svg: "external-link",
      },
      {
        name: 'GitHub',
        url: 'https://github.com/adrianpisabarrogarcia/uruvielsa',
        svg: 'github'
      }
    ]
  },
  {
    title: "Laboral Timer",
    image: "/assets/images/laboral-timer.webp",
    description:
      "Aplicación web para llevar el control de horas trabajadas y generar reportes de las mismas.",
    technologies: [
      {
        name: "Angular",
        url: "https://angular.dev/",
        svg: "angular",
      },
      {
        name: "Tailwind CSS",
        url: "https://tailwindcss.com/",
        svg: "tailwind",
      },
      {
        name: "PrimeNG",
        url: "https://primeng.org/",
        svg: "box",
      },
    ],
    links: [
      {
        name: "Ver proyecto",
        url: "https://laboraltimer.adrianpisabarro.com/",
        svg: "external-link",
      },
      {
        name: "GitHub",
        url: "https://github.com/adrianpisabarrogarcia/laboral-timer",
        svg: "github",
      },
    ],
  },
  {
    title: "Diagnóstico de Pastoral con Jóvenes",
    image: "/assets/images/diagnostico-pastoral-con-jovenes.webp",
    description:
      "Aplicación web para realizar un diagnóstico de la pastoral con jóvenes en una parroquia, colegios, movimientos, etc. Este genera un informe de manera visual con gráficos y datos con los resultados. Estos datos se pueden imprimir y comopartir de manera fácil",
    technologies: [
      {
        name: "PHP",
        url: "https://www.php.net/",
        svg: "angular",
      },
      {
        name: "Chart.js",
        url: "https://www.chartjs.org/",
        svg: "chart",
      },
      {
        name: "MySQL",
        url: "https://www.mysql.com/",
        svg: "mysql",
      },
    ],
    links: [
      {
        name: "Ver proyecto",
        url: "https://diagnostico.rpj.es/",
        svg: "external-link",
      },
      {
        name: "GitHub",
        url: "https://github.com/adrianpisabarrogarcia/diagnostico-de-pastoral-con-jovenes",
        svg: "github",
      },
    ],
  },
  {
    title: "SuperBag",
    image: "/assets/images/superbag.webp",
    description: "Aplicación móvil para gestionar la compra de una familia.",
    technologies: [
      {
        name: "Kotlin",
        url: "https://kotlinlang.org/",
        svg: "kotlin",
      },
      {
        name: "Firebase",
        url: "https://firebase.google.com/",
        svg: "firebase",
      },
    ],
    links: [
      {
        name: "Documentación",
        url: "https://github.com/adrianpisabarrogarcia/SuperBag/blob/main/SuperBag%20Manual%20y%20Documentaci%C3%B3n.pdf",
        svg: "doc",
      },
      {
        name: 'GitHub',
        url: 'https://github.com/adrianpisabarrogarcia/laboral-timer',
        svg: 'github'
      }
    ]
  },
  /*{
    title: "EgiConnect",
    image: "/assets/images/superbag.webp",
    description: "Aplicación móvil para gestionar la compra de una familia.",
    technologies: [
      {
        name: "Kotlin",
        url: "https://kotlinlang.org/",
        svg: "kotlin",
      },
      {
        name: "Firebase",
        url: "https://firebase.google.com/",
        svg: "firebase",
      },
    ],
    links: [
      {
        name: "Documentación",
        url: "https://github.com/adrianpisabarrogarcia/SuperBag/blob/main/SuperBag%20Manual%20y%20Documentaci%C3%B3n.pdf",
        svg: "doc",
      },
      {
        name: "GitHub",
        url: "https://github.com/adrianpisabarrogarcia/SuperBag",
        svg: "github",
      },
    ],
  },*/
];
---

<section class="sm:mt-20 mt-10">
  <h2 class="flex items-center text-3xl font-semibold">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-flask pr-1"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M9 3l6 0"></path><path d="M10 9l4 0"></path><path
        d="M10 3v6l-4 11a.7 .7 0 0 0 .5 1h11a.7 .7 0 0 0 .5 -1l-4 -11v-6"
      ></path></svg
    >
    Proyectos
  </h2>
  <div>
    {
      projects.map((project) => (
        <article class="flex flex-col md:flex-row mt-4">
          <div class=" shadow-lg dark:shadow-white/30 md:w-1/2 overflow-hidden rounded-lg flex">
            <img
              src={project.image}
              alt={`Proyecto ${project.title}`}
              class="w-full transition duration-700 ease-in-out hover:scale-150"
            />
          </div>
          <div class="w-auto md:w-1/2 m-4">
            <h3 class="text-2xl font-semibold text-custom-blue-dark dark:text-custom-yellow-chrome">
              {project.title}
            </h3>
            <div class="mt-2 flex">
              {project.technologies.map((tech) => (
                <a
                  class="bg-custom-blue-dark hover:bg-custom-blue border text-white rounded-full flex pt-1 pb-1 ps-2 pe-2 text-sm items-center justify-center me-2"
                  href={tech.url}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <span class="me-1">
                    {tech.svg === "astro" && <AstroIcon />}
                    {tech.svg === "tailwind" && <TailwindIcon />}
                    {tech.svg === "angular" && <AngularIcon />}
                    {tech.svg === "box" && <BoxIcon />}
                    {tech.svg === "php" && <PhpIcon />}
                    {tech.svg === "chart" && <ChartIcon />}
                    {tech.svg === "mysql" && <MySQLIcon />}
                    {tech.svg === "kotlin" && <KotlinIcon />}
                    {tech.svg === "firebase" && <FirebaseIcon />}
                  </span>
                  {tech.name}
                </a>
              ))}
            </div>
            <p class="mt-2">{project.description}</p>
            <div class="mt-2 flex align-middle items-center text-custom-blue-dark dark:text-custom-blue border-t border-custom-blue-dark dark:border-custom-blue-light pt-2 pb-2 pt-3">
              {project.links.map((link) => (
                <a
                  class="flex hover:underline me-4"
                  href={link.url}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <span class="me-1">
                    {link.svg === "external-link" && <ExternalLinkIcon />}
                    {link.svg === "github" && <GithubIcon />}
                    {link.svg === "doc" && <DocIcon />}
                  </span>
                  {link.name}
                </a>
              ))}
            </div>
          </div>
        </article>
      ))
    }
  </div>
  <div class="mt-2">
    <a
      href="https://github.com/adrianpisabarrogarcia?tab=repositories"
      class="text-custom-blue-dark dark:text-custom-yellow-chrome hover:underline"
      aria-label="Ver más proyectos"
      rel="noopener noreferrer"
      target="_blank"
    >
      Más proyectos en GitHub
    </a>
  </div>
</section>
